
.wip {
  background: #ffff66;
  font-style: italic;
  padding: 10px;
}

.wip::before {
  content: "\f071";
  font-family: FontAwesome;
  left: 10px;
  top: 10px;
  bottom: 0px;
  font-size: 30px;
}

.tab {
  tab-size: 4;
}

/*Align caption to the right and change color*/
p.caption {
  text-align: center;
  color: darkgrey;
  font-style: bold;
}

.figure {
  position: center;
}
